* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #1D0552;
    color: white;
    overflow-x: hidden;
}


